/** {
	
	}*/

	body {
		font-family: "Comic Sans MS", cursive, sans-serif; 
		font-size: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: red;
	}

	header	{
		background-color: yellow;
		width: 100%;
		height:	60px;
	}
	h1	{
		line-height: 60px;
		margin: 0 auto;
		text-align: center;
	}

	hr {
		border: 0;
		height: 2px;
		background: black;
	}

	main {
		background-color: pink;
		border: 1px solid brown;
		height: 600px;
		display: flex;
		margin: 0 auto;
		width: 90%;
		padding: 0;
	}
	.letters {
		background-color: red;
		border: 1px solid brown;
		width: 20%;
	}

	.input {
		background-color: yellow;
		border: 1px solid brown;
		width: 20%
	}

	.picture {
		background-color: white;
		border: 1px solid brown;
		width: 40%;
	}
	.score {
		background-color: magenta;
		border: 1px solid brown;
		width: 20%;
	}

	.guess {
		background-color: lightblue;
		border: 1px solid brown;
		height: 100px;
	}

	footer	{
		background-color: green;
		margin: 0 auto;
		height: 100px;
	}