body {
	font-family:'Architects Daughter', cursive;
	font-size: 100%;
	color: red;
	margin: 0 30px;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
	background-color: black;	
	background-image: url("../images/stock-footage-panning-hangman-s-noose.jpg");
	background-size: contain;
}

header {
	width: 100%;
	height: 80px;
}

h1 {
	line-height: 80px;
	font-size: 60px;
	margin: 0 auto;
	text-align: center;
}

hr {
	border: 0;
	height: 2px;
	background: white;
}
h3 {
	text-align: center;
	color: white;
}

a {
	color: white;
}

main {
	height: 350px; 
	display: -webkit-flex; 
	display: -ms-flexbox; 
	display: flex;
	margin: 0 auto;
	padding: 0;
}


.left_container {
	width: 400px;
	height: 100%;
}

div.letters {
	width: 610px;
	height: 400px;
	text-align: center;
}

#alphabet {
	margin: 15px auto;
	padding: 0;
	max-width: 1000px;
}
#alphabet:after {
	content: "";
	display: table;
	clear: both;
}

#alphabet li {
	float: left;
	margin: 0 10px 10px 0;
	list-style: none;
	width: 35px;
	height: 30px;
	padding-top: 10px;
	background: #fff;
	color: red;
	cursor: pointer;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	border: solid 1px #fff;
	text-align: center;
	font-weight: bolder;
}
#alphabet li:hover {
	background: #ff6666; /*#c1d72e*/
	border: solid 1px #fff;
	color: #fff;
}

button {
	border-radius: 5px;
	-khtml-border-radius: 5px;
	background: #c1d72e;
	color: #fff;
	border: solid 1px #fff;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.2em;
	padding: 18px 10px;
	width: 180px;
	margin: 10px;
	outline: none;
}
button:hover {
	transition: all 0.3s ease-in-out;
	background: #fff;
	border: solid 1px #fff;
	color: #c1d72e;
}	
form {
	font-size: 24px;
}

input {
	text-align: center;
	
}
.word_input {
	padding: 5px;
	text-align: center;
}
p {
	text-align: center;
	font-size: 24px;
}
.welcome {
	width: 250px;
	float: right

}

#guess_left {
	font-size: 32px;
}

.picture {
	/*background-color: #f7f7f7; color for canvas */
	width: 815px;
	background-image: url("../images/grim.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.guess_left {
	height: 100px;
	width: 100px;
}

#guessArea {
	height: 100px;
	text-align: center;
	font-size: 28px;
}

#myWord {
	margin: 0;
	padding: 0;
	display:block;
}

#myWord li {
	position: relative;
	list-style: none;
	margin: 0;
	display: inline-block;
	padding: 0 10px;
	font-size:2em;
}

.active {
	opacity: 0.4;
	filter: alpha(opacity=40);
	-moz-transition: all 1s ease-in;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	cursor: default;
}

#stickman {
	height: 330px;
	padding-left: 0;
	padding-bottom: 0;
	width:	545px;
	/*width: 815px;*/
}

/*.score {
	background-color: magenta;
	border: 1px solid brown;
	height: 100px;
	}*/

	footer {
		margin: 0 auto;
		height: 100px;
		text-align: center;
	}

	canvas {
		padding: 20px;
	}

	.wrappper {
		margin: 0 auto;
		background-color: purple;
	}
	.wrappper:after {
		content: "";
		clear: both;
	}

	/*start of media queries*/

	@media (max-width: 767px) {
		#alphabet {
			padding: 0 0 0 15px;
		}
		h1 {
			font-size: 30px;
		}
		h3 {
			font-size: 16px;	
		}
		.welcome {
			display: none;
		}
		.left_container {
			width: 200px;
		}
	}
	@media (max-width: 480px) {
		#alphabet {
			padding: 0 0 0 25px;
		}
		h1 {
			font-size: 30px;
		}
		h3 {
			font-size: 16px;	
		}
		.welcome {
			display: none;
		}
		.left_container {
			width: 200px;
		}		
	}


